<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.EmpMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <insert id="insertMoreEmp" >
       insert into t_emp values
        <foreach collection="emps" item="emp" separator=",">
            (null,#{emp.empName},#{emp.age},#{emp.gender})
        </foreach>
    </insert>
    <delete id="deleteMoreEmp">
        delete from t_emp where emp_id in
        (
            <foreach collection="empIds" item="empId" separator=",">
                #{empId}
            </foreach>
            )
    </delete>


    <select id="selectEmp" resultType="com.pojo.Emp">
        select * from t_emp where
        <if test="empName!=null and empName!=''">
            emp_name=#{empName}
        </if>
        <if test="age != '' and age != null">
            and age = #{age}
        </if>
        <if test="gender != '' and gender != null">
            and gender = #{gender}
        </if>
    </select>

<!--    <sql id="empColumns">-->
<!--        eid,ename,age,sex,did-->
<!--    </sql>-->
<!--    select <include refid="empColumns"></include> from t_emp-->
</mapper>