<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.MohuSQLMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <select id="getuserByname" resultType="pojo.TUser">
        select * from t_user where uname like "%"#{uname}"%";
    </select>


<!--    一对多查询-->
<!--    <resultMap id="empDeptMap" type="Emp">-->
<!--        <id column="eid" property="eid"></id>-->
<!--        <result column="ename" property="ename"></result>-->
<!--        <result column="age" property="age"></result>-->
<!--        <result column="sex" property="sex"></result>-->
<!--        <association property="dept" javaType="Dept">-->
<!--            <id column="did" property="did"></id>-->
<!--            <result column="dname" property="dname"></result>-->
<!--        </association>-->
<!--    </resultMap>-->
</mapper>