<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <!--    <typeAliases>-->
    <!-- <typeAlias type="com.atguigu.mybatis.pojo.User" alias="abc"></typeAlias> -->
    <!-- 若不设置alias，当前的类型拥有默认的别名，即类名且不区分大小写 -->
    <!-- <typeAlias type="com.atguigu.mybatis.pojo.User"></typeAlias> -->
    <!-- 通过包设置类型别名，指定包下所有的类型将全部拥有默认的别名，即类名且不区分大小写 -->
    <!--        <package name=""/>-->
    <!--    </typeAliases>-->
    <!--设置连接数据库的环境-->
    <settings>
        <!--将下划线映射为驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <plugins>
        <!--配置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
        <!--以包的方式引入映射文件，但是必须满足两个条件：
                    1、mapper接口和映射文件所在的包必须一致
                    2、mapper接口的名字和映射文件的名字必须一致
         -->
        <package name="com.mvc.mapper"/>
    </mappers>



</configuration>